.general-container {
    width: 100vw;
    overflow: hidden;
    padding-top: 30px;
}

.media {}

.media img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.slider-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
}

#slide-bullet {
    position: static;
}

.arrow {
    cursor: pointer;
}

.arrow-back {
    transition: .5s ease;
}

.arrow-back:hover {
    transform: scale(1.5);
}

.arrow-forward {
    transition: .5s ease;
}

.arrow-forward:hover {
    transform: scale(1.5);
}

@media (max-width: 500px) {
    .media img {
        width: 60dvw;
        height: 60dvh;
    }

}