.professional-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
/* .professional-container.dark {
    background-color: black;
} */
.professional-container div {
    margin: 30px;
    flex: 1 1 35%;
    height: 100%;
    width: 100%;
}
.project-description {
    text-align: justify;
}